.main{
    height: 100vh;
    width: 6.25rem;

    display: flex;
    align-items: center;
    justify-content: center;
    

    position: sticky;
    top: 0;

    @media screen and (min-width: 1201px) {
        right: 0%;
        margin-right: 3.2rem;
    }
    @media screen and (max-width: 1200px) and (min-width: 745px) {
        right: 0%;
        margin-right: 2rem;
    }
    @media screen and (max-width: 744px) {
        height: 4.125rem;
        width: 22.375rem;
        padding: 2rem 1rem 0rem 1rem;
        background-color: #0f0f0f;
    }
}

.links_wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 3.125rem;

    @media screen and (max-width: 744px) {
        flex-direction: row;
        height: 100%;
        gap: 0;
        justify-content: space-between;
    }
}

.link {
    cursor: pointer;
    text-align: right;

    @media screen and (max-width: 744px) {
        text-align: center;
        font-size: 0.875rem;
    }
}

.link_active {
    color: #42c58e;
    font-weight: 800;
    text-decoration: none;
}
